.benefits {
    margin-bottom: 180px;
    
    &__row {
        margin-bottom: 4.5rem;
    }

    &__icon {
        display: block;
        max-height: 80px;
        margin-bottom: 1rem;
    }

    &__title {
        margin-bottom: 1rem;
        font-family: $gilroy;
        font-weight: 800;
        font-size: 1.3rem;
        color: $black;
    }

    &__content {
        font-size: 1.1rem;
    }
}