.btn {
    padding: 10px 30px;
    font-family: $gilroy;
    font-weight: 800;
    font-size: 1em;
    line-height: 1.2em;
    text-align: center;
    background: none;
    border: 2px solid $accent;
    border-radius: 4px;

    &_outline {

    }

    &_outline_white {
        color: $white;
        border-color: $white;
    }
}