.btn {
    padding: 10px 30px;
    font-family: $gilroy;
    font-weight: 800;
    font-size: 1em;
    line-height: 1.2em;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    color: $black;
    background-color: $accent;
    outline: none;
    border: none;
    
    &_outline {
        border: 2px solid $accent;
        background: none;
    }

    &_outline_white {
        color: $white;
        border-color: $white;
    }
}