.main-screen {
    background: url(../assets/images/main.svg);

    &__title {
        margin-top: 220px;
        margin-bottom: $md;
    }

    &__subtitle {
        font-family: $gilroy;
        font-weight: 400;
        font-size: 1.2rem;
        margin-bottom: 70px;
    }
}