.main-screen {
    padding-top: 220px;
    margin-bottom: 180px;
    min-height: 890px;
    background-image: url(../assets/images/main.png);
    background-position: 100% 0;
    background-repeat: no-repeat;

    &__title {
        margin-bottom: 1.5rem;
    }

    &__subtitle {
        font-family: $gilroy;
        font-weight: 400;
        font-size: 1.2rem;
        margin-bottom: 4.5rem;
    }
}