.team {
    &__title {
        width: 66.66%;
    }

    &__text {
        margin-bottom: 3.75em;
    }

    &__p {
        margin-bottom: 2.5rem;
    }

    &__card {
        padding: 3rem 4rem;
        box-shadow: 0px 5px 10px rgba(97, 148, 165, 0.15);
        border-radius: 0.5rem;
    }

    &__photo {
        display: inline-block;
        border-radius: 50%;
        margin-right: 2rem;
    }

    &__member {
        display: inline-flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 3rem;
        }
    }

    &__member-content {
        display: inline-block;
    }

    &__name {
        display: block;
        font-family: $gilroy;
        font-size: 1rem;
        line-height: 120%;
        margin-bottom: .5rem;
    }

    &__position {
        display: block;
        font-family: $gilroy;
        font-size: 1rem;
        line-height: 110%;
        margin-bottom: 1.5rem;
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
    }

    &__visit-button {
        padding: 1.5rem 4rem;
    }

    &__button {
        padding: .5rem 1rem;
        box-sizing: border-box;
        border: 2px solid $accent;
        background-color: transparent;

        &:hover {
            text-decoration: underline;
            background-color: $accent;
        }

        &:not(:last-child) {
            margin-right: 1rem;  
        }
    }
}

@media screen and (max-width: $lg) {
    .team {
        &__card {
            padding: 2.5rem 3rem;
        }

        &__member {
            &:not(:last-child) {
                margin-bottom: 2.2rem;
            }
        }

        &__button {
            &:not(:last-child) {
                margin-bottom: 0;  
            }
        }
    }
}

@media screen and (max-width: $md) {
    .team {
        &__card {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 3rem 2.6rem;
        }

        &__col {
            margin-bottom: 2.5rem;
        }

        &__member {
            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
    }
}

@media screen and (max-width: $sm) {
    .team {
        &__card {
            justify-content: center;
        }

        &__visit-button {
            width: 100%;
        }

        &__member {
            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }

        &__title {
            width: 100%;
        }

        &__p {
            margin-bottom: 1.5rem;
        }

        &__text {
            margin-bottom: 2.5rem;
        }
    }
}

@media screen and (max-width: $xs) {
    .team {
        &__photo {
            max-width: 8rem;
            height: auto;
        }

        &__button {
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }
}