.tickers {
    &__row {
        margin-bottom: 1rem;
    }

    &__title {
        display: block;
        margin-bottom: .5rem;
    }

    &__item {
        padding: 1.5rem;
        border: 1px solid $l-stroke;
    }

    &__exchange {
        display: block;
        margin-bottom: .8rem;
        font-family: $gilroy;
        font-weight: 300;
        font-size: 1.3rem;
        color: $black;
    }

    &__value-wrapper {
        margin-bottom: 1rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__value {
        margin-right: .8rem;
        font-family: $gilroy;
        font-weight: 800;
        font-size: 2rem;
        color: $black;
    }

    &__rate {
        padding: .5rem .8rem;
        font-family: $gilroy;
        font-weight: 800;
        font-size: 1rem;
        color: $white;
        background-color: $gray;
        border-radius: 4px;
        vertical-align: middle;
    }

    &__label {
        margin-bottom: .5rem;
        display: block;
        font-family: $gilroy;
        font-weight: 300;
        font-size: 1rem;
        color: $black;
    }

    &__sub-value {
        display: block;
        font-family: $gilroy;
        font-weight: 800;
        font-size: 1.1rem;
        color: $black;
    }

    &__sub-value_mb {
        margin-bottom: 15px;
    }

    &_plus {
        background-image: url(../assets/images/plus.png);
        background-position: 0 100%;
        background-repeat: no-repeat;

        .tickers__rate {
            background-color: $green;
        }
    }

    &_minus {
        background-image: url(../assets/images/minus.png);
        background-position: 0 100%;
        background-repeat: no-repeat;

        .tickers__rate {
            background-color: $red;
        }
    }

    &__exchange-info {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-top: 4rem;
        margin-bottom: 4rem;
        padding: 2rem 2.5rem;
        border-radius: 8px;
        background-color: $theme;
    }

    &__info-item {
        display: inline-block;
        margin-right: 2rem; 
    }

    &__exchange-info-title {
        margin-bottom: 5px;
        display: block;
        font-family: $gilroy;
        font-weight: 800;
        font-size: 1.1rem;
        color: $accent;
    }

    &__exchange-info-content {
        position: relative;
        font-family: $gilroy;
        font-weight: 300;
        font-size: 1.5rem;
        color: $white;
        white-space: nowrap;
    }

    &__exchange-info-content_separated {
        padding-right: 1.5rem;
        margin-right: 1.5rem;
        border-right: 1px solid $white;
    }

    &__table {
        width: 100%;  
        margin-bottom: 2.5rem;
        border-collapse: collapse; 
        table-layout: fixed;
    }

    &__thead {
        border-bottom: 1px solid $stroke;
    }
    
    &__th {
        padding: .8rem;
        font-family: $gilroy;
        font-weight: 800;
        font-size: 1.1rem;
        text-align: left;
    }

    &__td {
        padding: .8rem 1rem;
        margin-bottom: 1rem;
        font-family: $gilroy;
        font-weight: 300;
        font-size: 1.3rem;
        vertical-align: middle;
    }

    &__td_bold {
        font-weight: 800;
    }

    &__table-expand {
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-family: $gilroy;
        font-weight: 300;
        font-size: 1.3rem;
        color: $black;
        background: none;
        outline: none;
        border: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: $md) {
    .tickers {
        &__row {
            margin-bottom: 0;
        }

        &__col {
            margin-bottom: 1rem;
        }

        &__item {
            background-size: cover;
            margin-bottom: 1rem;
        }

        &__exchange-info-content_separated {
            display: block;
            border-right: none;
        }
    }
}

@media screen and (max-width: $sm) {
    .tickers {
        &__info-item {
            // margin: 0;
        }
    }
}