.tickers {
    &__row {
        margin-bottom: 15px;
    }

    &__title {
        display: block;
        margin-bottom: 5px;
    }

    &__item {
        padding: 20px;
        border: 1px solid $l-stroke;
    }

    &__exchange {
        display: block;
        margin-bottom: 10px;
        font-family: $gilroy;
        font-weight: 300;
        font-size: 1.3rem;
        color: $black;
    }

    &__value-wrapper {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
    }

    &__value {
        margin-right: 10px;
        font-family: $gilroy;
        font-weight: 800;
        font-size: 2rem;
        color: $black;
    }

    &__rate {
        padding: 5px 10px;
        font-family: $gilroy;
        font-weight: 800;
        font-size: 1rem;
        color: $white;
        background-color: $gray;
        border-radius: 4px;
        vertical-align: middle;
    }

    &__label {
        margin-bottom: 5px;
        display: block;
        font-family: $gilroy;
        font-weight: 300;
        font-size: 1rem;
        color: $black;
    }

    &__sub-value {
        display: block;
        font-family: $gilroy;
        font-weight: 800;
        font-size: 1.1rem;
        color: $black;
    }

    &__sub-value_mb {
        margin-bottom: 15px;
    }

    &_plus {
        background-image: url(../assets/images/plus.png);
        background-position: 0 100%;
        background-repeat: no-repeat;

        .tickers__rate {
            background-color: $green;
        }
    }

    &_minus {
        background-image: url(../assets/images/minus.png);
        background-position: 0 100%;
        background-repeat: no-repeat;

        .tickers__rate {
            background-color: $red;
        }
    }

    &__exchange-info {
        margin-top: 60px;
        margin-bottom: 60px;
        padding: 30px 60px;
        border-radius: 8px;
        background-color: $theme;
    }

    &__exchange-info-title {
        margin-bottom: 5px;
        display: block;
        font-family: $gilroy;
        font-weight: 800;
        font-size: 1.1rem;
        color: $accent;
    }

    &__exchange-info-content {
        position: relative;
        display: block;
        font-family: $gilroy;
        font-weight: 300;
        font-size: 1.5rem;
        color: $white;
    }

    &__exchange-info-content_separated {
        &:after {
            position: absolute;
            right: 0;
            top: 0;
            content: '';
            display: block;
            background-color: $white;
            height: 23px;
            width: 1px;
        }
    }

    &__table {
        width: 100%;  
        border-collapse: collapse; 
        table-layout: fixed;
    }

    &__thead {
        border-bottom: 2px solid $stroke;
    }
    
    &__th {
        padding: 10px;

    }
}