.h1 {
    font-family: $gilroy;
    font-weight: 800;
    font-size: 3rem;
    color: $black;

    &__accent {
        color: $accent;
    }
}

.h2 {
    margin-bottom: $lg;
    font-family: $gilroy;
    font-weight: 800;
    font-size: 2.6rem;
    color: $black;

    &__accent {
        color: $accent;
    }

    &__subtitle {
        font-family: $gilroy;
        font-weight: 400;
        font-size: 1.3rem;
        color: $black;
    }
}