.h1 {
    font-family: $gilroy;
    font-weight: 800;
    font-size: 3rem;
    color: $black;

    &__accent {
        color: $accent;
    }
}

.h2 {
    margin-bottom: 60px;
    font-family: $gilroy;
    font-weight: 800;
    font-size: 2.6rem;
    color: $black;

    &__accent {
        color: $accent;
    }

    &__subtitle {
        font-family: $gilroy;
        font-weight: 400;
        font-size: 1.3rem;
        color: $black;
    }

    &__subtitle_mb_lg {
        margin-bottom: 60px;
    }

    &_mb-sm {
        margin-bottom: 5px;
    }

    &_centered {
        text-align: center;
    }

    &__subtitle_centered {
        text-align: center;
    }
}

.p {
    font-family: $gilroy;
    font-weight: 400;
    font-size: 1rem;
    color: $black;
}