.why-us {
    &__decoration {
        display: block;
        height: 100%;
        width: 100%;
        max-height: 410px;
        max-width: 410px;
        margin-left: auto;
        margin-right: auto;
    }

    &__content {
        display: flex;
        align-items: center;
    }

    &__col {
        margin-bottom: 2rem;
    }

    &__value {
        display: block;
        font-family: $gilroy;
        font-weight: 800;
        font-size: 2rem;
        color: $theme;
    }

    &__label {
        font-family: $gilroy;
        font-weight: 300;
        font-size: 1.1rem;
        color: $black;
    }
}

@media screen and (max-width: $sm) {
    .why-us {
        &__col {
            width: 50%;
        }

        &__mobile-hidden {
            display: none;
        }
    }
}