// Fonts
$gilroy: 'Gilroy', sans-serif;

// Palette
$accent: #F6D77D;
$theme: #003C4F;
$stroke: #BFD4DB;
$l-stroke: #E6F2F6;
$dark: #404149;
$gray: #E5E5E5;
$l-gray: #E6F2F6;
$d-gray: #666666;
$white: #ffffff;
$black: #222222;
$red: #B22828;
$green: #28B236;

// Spacings
$xs: 15px;
$sm: 20px;
$md: 40px;
$lg: 60px; 
$xlg: 100px;