// Fonts
$oswald: 'Oswald', sans-serif;
$sans: 'Open Sans', sans-serif;

// Palette
$accent: #F7654A;
$dark: #404149;
$gray: #E5E5E5;
$white: #F5F5F5;
$black: #111111;

// Spacings
$xs: 15px;
$sm: 20px;
$md: 40px;
$lg: 60px;
$xlg: 100px;