<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chain landing</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <nav class="nav">
                <img src="./images/logo.svg" alt="bequant" class="logo">
                <button class="button button_outline button_outline_white">Sign in</button>
            </nav>
        </div>
    </header>
    
    <main>
        <section class="main-screen">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <h1 class="h1 main-screen__title">Top Liquidity <span class="h1__accent">professional exchange</span></h1>
                        <p class="main-screen__subtitle">We offer access to major crypto pairs with real liquidity ranking in top 10 exchanges in the world.</p>
                        <form class="sign-up-form sign-up-form_vertical" action="/sign-up">
                            <input class="sign-up-form__field" type="text" name="login" placeholder="Login" value="ben.cort@gma">
                            <input class="sign-up-form__field" type="text" name="password" placeholder="Password">
                            <input class="sign-up-form__submit button" type="submit" value="Start Trading">
                            <span class="sign-up-form__warning">By clicking Start trading, you agree to our <a  class="sign-up-form__link" href="/terms-of-use">Terms of Use.</a></span>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section class="benefits">
            <div class="container">
                <h2 class="h2">Why choose Bequant?</h2>
                <div class="row align-bottom benefits__row">
                    <div class="col-md-4">
                        <img src="./images/icons/decorations/regulation.svg" alt="regulation" class="benefits__icon">
                        <h3 class="benefits__title">Regulation</h3>
                        <p class="p benefits__content">BEQUANT has established itself in Malta with aim to become one of the first regulated Exchanges in Europe.</p>
                    </div>
                    <div class="col-md-4">
                        <img src="./images/icons/decorations/liquidity.svg" alt="icon" class="benefits__icon">
                        <h3 class="benefits__title">Real Deep Liquidity</h3>
                        <p class="p benefits__content">We offer access to major crypto pairs with real liquidity ranking in top 10 exchanges in the world.</p>
                    </div>
                    <div class="col-md-4">
                        <img src="./images/icons/decorations/standart.svg" alt="icon" class="benefits__icon">
                        <h3 class="benefits__title">Industry Standart FIX/API</h3>
                        <p class="p benefits__content">We can facilitate multiple connectivity protocols be it FIX, WebSocket or Rest API.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="./images/icons/decorations/fees.svg" alt="icon" class="benefits__icon">
                        <h3 class="benefits__title">Fees</h3>
                        <p class="p benefits__content">We operate a maker/taker fee model. If you provide liquidity or trade with passive orders we rebate 0.01% and charge you for taking liquidity 0.10%.</p>
                    </div>
                    <div class="col-md-4">
                        <img src="./images/icons/decorations/support.svg" alt="icon" class="benefits__icon">
                        <h3 class="benefits__title">Professional Support</h3>
                        <p class="p benefits__content">We prefer human contact and if you too we can have a call and promptly sort your questions.</p>
                    </div>
                    <div class="col-md-4">
                        <img src="./images/icons/decorations/geolocation.svg" alt="icon" class="benefits__icon">
                        <h3 class="benefits__title">Colocation Facillity</h3>
                        <p class="p benefits__content">We offer hosting facility next to our matching engine based in London to offer lowest trading latency in the industry.</p>
                    </div>                    
                </div>
            </div>
        </section>

        <section class="why-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="./images/mascot.svg" alt="mascot" class="why-us__decoration">
                    </div>
                    <div class="col-md-6">
                        <div class="why-us__wrapper">
                            <h2 class="h2">What makes Bequant <span class="h2__accent">different?</span></h2>
                            <div class="row why-us__row">
                                <div class="col-md-4">
                                    <span class="why-us__value">4 million+</span>
                                    <span class="why-us__label">Clients</span>
                                </div>
                                <div class="col-md-4">
                                    <span class="why-us__value">4 million+</span>
                                    <span class="why-us__label">Clients</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <span class="why-us__value">4 million+</span>
                                    <span class="why-us__label">Clients</span>
                                </div>
                                <div class="col-md-4">
                                    <span class="why-us__value">4 million+</span>
                                    <span class="why-us__label">Clients</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="tickers">
            <div class="container">
                <div class="row justify-content-between tickers__row">
                    <div class="col-md-4 d-flex align-items-center">
                        <div class="wrapper">
                            <h2 class="h2 h2_mb-sm">Knowledge is power</h2>
                            <p class="h2__subtitle">Our platform gives you all the info you need, when you need it</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="tickers__item tickers_minus">
                                    <span class="tickers__exchange">eth/usdt</span>
                                    <div class="tickers__value-wrapper">
                                        <span class="tickers__value">179.168</span>
                                        <span class="tickers__rate">+1.59%</span>
                                    </div>
                                    <span class="tickers__label">24h volume</span>
                                    <span class="tickers__sub-value tickers__sub-value_mb">T 346,219,819</span>
                                    <div class="row">
                                        <div class="col-6">
                                            <span class="tickers__label">Bid</span>
                                            <span class="tickers__sub-value">179.101</span>
                                        </div>
                                        <div class="col-6">
                                            <span class="tickers__label">Ask</span>
                                            <span class="tickers__sub-value">179.169</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tickers__item tickers_plus">
                                    <span class="tickers__exchange">eth/usdt</span>
                                    <div class="tickers__value-wrapper">
                                        <span class="tickers__value">179.168</span>
                                        <span class="tickers__rate">+1.59%</span>
                                    </div>
                                    <span class="tickers__label">24h volume</span>
                                    <span class="tickers__sub-value tickers__sub-value_mb">T 346,219,819</span>
                                    <div class="row">
                                        <div class="col-6">
                                            <span class="tickers__label">Bid</span>
                                            <span class="tickers__sub-value">179.101</span>
                                        </div>
                                        <div class="col-6">
                                            <span class="tickers__label">Ask</span>
                                            <span class="tickers__sub-value">179.169</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="tickers__item tickers_plus">
                            <span class="tickers__exchange">eth/usdt</span>
                            <div class="tickers__value-wrapper">
                                <span class="tickers__value">179.168</span>
                                <span class="tickers__rate">+1.59%</span>
                            </div>
                            <span class="tickers__label">24h volume</span>
                            <span class="tickers__sub-value tickers__sub-value_mb">T 346,219,819</span>
                            <div class="row">
                                <div class="col-6">
                                    <span class="tickers__label">Bid</span>
                                    <span class="tickers__sub-value">179.101</span>
                                </div>
                                <div class="col-6">
                                    <span class="tickers__label">Ask</span>
                                    <span class="tickers__sub-value">179.169</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="tickers__item tickers_minus">
                            <span class="tickers__exchange">eth/usdt</span>
                            <div class="tickers__value-wrapper">
                                <span class="tickers__value">179.168</span>
                                <span class="tickers__rate">+1.59%</span>
                            </div>
                            <span class="tickers__label">24h volume</span>
                            <span class="tickers__sub-value tickers__sub-value_mb">T 346,219,819</span>
                            <div class="row">
                                <div class="col-6">
                                    <span class="tickers__label">Bid</span>
                                    <span class="tickers__sub-value">179.101</span>
                                </div>
                                <div class="col-6">
                                    <span class="tickers__label">Ask</span>
                                    <span class="tickers__sub-value">179.169</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="tickers__item tickers_plus">
                            <span class="tickers__exchange">eth/usdt</span>
                            <div class="tickers__value-wrapper">
                                <span class="tickers__value">179.168</span>
                                <span class="tickers__rate">+1.59%</span>
                            </div>
                            <span class="tickers__label">24h volume</span>
                            <span class="tickers__sub-value tickers__sub-value_mb">T 346,219,819</span>
                            <div class="row">
                                <div class="col-6">
                                    <span class="tickers__label">Bid</span>
                                    <span class="tickers__sub-value">179.101</span>
                                </div>
                                <div class="col-6">
                                    <span class="tickers__label">Ask</span>
                                    <span class="tickers__sub-value">179.169</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="tickers__item tickers_plus">
                            <span class="tickers__exchange">eth/usdt</span>
                            <div class="tickers__value-wrapper">
                                <span class="tickers__value">179.168</span>
                                <span class="tickers__rate">+1.59%</span>
                            </div>
                            <span class="tickers__label">24h volume</span>
                            <span class="tickers__sub-value tickers__sub-value_mb">T 346,219,819</span>
                            <div class="row">
                                <div class="col-6">
                                    <span class="tickers__label">Bid</span>
                                    <span class="tickers__sub-value">179.101</span>
                                </div>
                                <div class="col-6">
                                    <span class="tickers__label">Ask</span>
                                    <span class="tickers__sub-value">179.169</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tickers__exchange-info">
                    <div class="row">
                        <div class="col-md-2">
                            <span class="tickers__exchange-info-title">Exchange</span>
                            <span class="tickers__exchange-info-content">Connected</span>
                        </div>
                        <div class="col-md-2">
                            <span class="tickers__exchange-info-title">Active sessions</span>
                            <span class="tickers__exchange-info-content">11 067</span>
                        </div>
                        <div class="col-md-8">
                            <span class="tickers__exchange-info-title">24h volume</span>
                            <span class="tickers__exchange-info-content tickers__exchange-info-content_separated">75 992.68 BTC</span>
                            <span class="tickers__exchange-info-content tickers__exchange-info-content_separated">70 406.67 ETH</span>
                            <span class="tickers__exchange-info-content">915 120 756.39 USDT</span>
                         </div>
                    </div>
                </div>

                <table class="tickers__table">
                    <thead class="tickers__thead">
                        <tr class="tickers__tr">
                            <th class="tickers__th">Market</th>
                            <th class="tickers__th">Last Price</th>
                            <th class="tickers__th">Change</th>
                            <th class="tickers__th">24h volume</th>
                            <th class="tickers__th">Bid</th>
                            <th class="tickers__th">Ask</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="tickers__td">BTC/USDT</td>
                            <td class="tickers__td tickers__td_bold">5 211.96</td>
                            <td class="tickers__td tickers__td_change">5 211.96</td>
                            <td class="tickers__td">T 248 117 296</td>
                            <td class="tickers__td">5 211.96</td>
                            <td class="tickers__td">5217.97</td>
                        </tr>
                        <tr>
                            <td class="tickers__td">BTC/USDT</td>
                            <td class="tickers__td tickers__td_bold">5 211.96</td>
                            <td class="tickers__td tickers__td_change">5 211.96</td>
                            <td class="tickers__td">T 248 117 296</td>
                            <td class="tickers__td">5 211.96</td>
                            <td class="tickers__td">5217.97</td>
                        </tr>
                        <tr>
                            <td class="tickers__td">BTC/USDT</td>
                            <td class="tickers__td tickers__td_bold">5 211.96</td>
                            <td class="tickers__td tickers__td_change">5 211.96</td>
                            <td class="tickers__td">T 248 117 296</td>
                            <td class="tickers__td">5 211.96</td>
                            <td class="tickers__td">5217.97</td>
                        </tr>
                    </tbody>
                </table>
                <button class="tickers__table-expand">View full list</button>
            </div>
        </section>

        <section class="sign-up">
            <div class="container">
                <h2 class="h2 h2_centered  h2_mb-sm">Join the Bitcoin revolution</h2>
                <p class="h2__subtitle h2__subtitle_centered h2__subtitle_mb_lg">Bitcoin / USDT trading is here and it's never been simpler</p>
                <form class="sign-up-form" action="/sign-up">
                    <div class="row sign-up-form__row">
                        <div class="col-md-4">
                            <input class="sign-up-form__field" type="text" name="email" placeholder="E-mail">
                        </div>
                        <div class="col-md-4">
                            <input class="sign-up-form__field" type="text" name="password" placeholder="Password">
                        </div>
                        <div class="col-md-4">
                                <input class="sign-up-form__submit button button_full-w button_full-h" type="submit" value="Start Trading">
                        </div>
                    </div>
                    <span class="sign-up-form__warning sign-up-form__warning_centered">By clicking Start trading, you agree to our <a  class="sign-up-form__link" href="/terms-of-use">Terms of Use.</a></span>
                </form>
            </div>
        </section>

        <section class="featured-by section">
            <div class="container">
                <h2 class="h2 h2_centered">Feautered by</h2>
                <div class="owl-carousel owl-theme">
                    <div class="owl-carousel__item">
                        <img src="./images/coin.png" alt="logo" class="featured-by__logo">
                    </div>
                    <div class="owl-carousel__item">
                        <img src="./images/coin.png" alt="logo" class="featured-by__logo">
                    </div>
                    <div class="owl-carousel__item">
                        <img src="./images/coin.png" alt="logo" class="featured-by__logo">
                    </div>
                    <div class="owl-carousel__item">
                        <img src="./images/coin.png" alt="logo" class="featured-by__logo">
                    </div>
                    <div class="owl-carousel__item">
                        <img src="./images/coin.png" alt="logo" class="featured-by__logo">
                    </div>
                    <div class="owl-carousel__item">
                        <img src="./images/coin.png" alt="logo" class="featured-by__logo">
                    </div>
                    <div class="owl-carousel__item">
                        <img src="./images/coin.png" alt="logo" class="featured-by__logo">
                    </div>
                    <div class="owl-carousel__item">
                        <img src="./images/coin.png" alt="logo" class="featured-by__logo">
                    </div>
                    <div class="owl-carousel__item">
                        <img src="./images/coin.png" alt="logo" class="featured-by__logo">
                    </div>
                    <div class="owl-carousel__item">
                        <img src="./images/coin.png" alt="logo" class="featured-by__logo">
                    </div>
                    <div class="owl-carousel__item">
                        <img src="./images/coin.png" alt="logo" class="featured-by__logo">
                    </div>
                    <div class="owl-carousel__item">
                        <img src="./images/coin.png" alt="logo" class="featured-by__logo">
                    </div>
                    <div class="owl-carousel__item">
                        <img src="./images/coin.png" alt="logo" class="featured-by__logo">
                    </div>
                    <div class="owl-carousel__item">
                        <img src="./images/coin.png" alt="logo" class="featured-by__logo">
                    </div>
                    <div class="owl-carousel__item">
                        <img src="./images/coin.png" alt="logo" class="featured-by__logo">
                    </div>
                    <div class="owl-carousel__item">
                        <img src="./images/coin.png" alt="logo" class="featured-by__logo">
                    </div>
                    <div class="owl-carousel__item">
                        <img src="./images/coin.png" alt="logo" class="featured-by__logo">
                    </div>
                    <div class="owl-carousel__item">
                        <img src="./images/coin.png" alt="logo" class="featured-by__logo">
                    </div>
                </div>
            </div>
        </section>

        <section class="team section">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h2 class="h2 team__title">Professional brokerage coverage for <span class="h2__accent">Institutional Investors</span></h2>
                        <div class="team__text">
                            <p class="p team__p">The team behind BEQUANT all came from regulated businesses and have years of experience in banking, derivatives, electronic trading and prime brokerage.</p>
                            <p class="p team__p">We offer cold storage custody, OTC block trading, Lending, structuring and advice in the digital asset space.</p>
                            <p class="p team__p">The BeQuant team consists of FCA compliant brokers and blockchain specialists who have been in the business since 2012, ensuring personalised face-to-face professional services.</p>
                        </div>
                        <a href="#" class="button team__visit-button">VISIT BEQUANT.PRO</a>
                    </div>
                    <div class="col-md-5">
                        <div class="team__card">
                            <div class="team__member">
                                <img src="./images/members/member1.png" alt="member" class="team__photo">
                                <div class="team__member-content">
                                    <h3 class="team__name">Cameron Dickie</h3>
                                    <span class="team__position">Head of Brocking</span>
                                    <div class="team__buttons">
                                        <a href="#" class="button team__button">in</a>
                                        <a href="#" class="button button_outline team__button">VCard</a>
                                    </div>
                                </div>
                            </div>
                            <div class="team__member">
                                <img src="./images/members/member1.png" alt="member" class="team__photo">
                                <div class="team__member-content">
                                    <h3 class="team__name">Cameron Dickie</h3>
                                    <span class="team__position">Head of Brocking</span>
                                    <div class="team__buttons">
                                        <a href="#" class="button team__button">in</a>
                                        <a href="#" class="button button_outline team__button">VCard</a>
                                    </div>
                                </div>
                            </div>
                            <div class="team__member">
                                <img src="./images/members/member1.png" alt="member" class="team__photo">
                                <div class="team__member-content">
                                    <h3 class="team__name">Cameron Dickie</h3>
                                    <span class="team__position">Head of Brocking</span>
                                    <div class="team__buttons">
                                        <a href="#" class="button team__button">in</a>
                                        <a href="#" class="button button_outline team__button">VCard</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="faq section">
            <div class="container">
                <h2 class="h2 h2_centered">Faq & <span class="h2__accent">support</span></h2>
                <div class="row faq__container">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="faq__card faq__card_theme_dark">
                                    <h3 class="faq__title">Legacy & KYC</h3>
                                    <a href="#" class="faq__link">How to contact Bequant on legal issues?</a>
                                    <a href="#" class="faq__link">How to verify my account?</a>
                                    <a href="#" class="faq__button"></a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="faq__card faq__card_theme_bright">
                                    <h3 class="faq__title">Legacy & KYC</h3>
                                    <a href="#" class="faq__link">How to contact Bequant on legal issues?</a>
                                    <a href="#" class="faq__link">How to verify my account?</a>
                                    <a href="#" class="faq__button faq__button_dark"></a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="faq__card faq__card_theme_dark">
                                    <h3 class="faq__title">Legacy & KYC</h3>
                                    <a href="#" class="faq__link">How to contact Bequant on legal issues?</a>
                                    <a href="#" class="faq__link">How to verify my account?</a>
                                    <a href="#" class="faq__button"></a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="faq__card faq__card_theme_bright">
                                    <h3 class="faq__title">Legacy & KYC</h3>
                                    <a href="#" class="faq__link">How to contact Bequant on legal issues?</a>
                                    <a href="#" class="faq__link">How to verify my account?</a>
                                    <a href="#" class="faq__button faq__button_dark"></a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="faq__card faq__card_theme_dark">
                                    <h3 class="faq__title">Legacy & KYC</h3>
                                    <a href="#" class="faq__link">How to contact Bequant on legal issues?</a>
                                    <a href="#" class="faq__link">How to verify my account?</a>
                                    <a href="#" class="faq__button"></a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="faq__card faq__card_theme_bright">
                                    <h3 class="faq__title">Legacy & KYC</h3>
                                    <a href="#" class="faq__link">How to contact Bequant on legal issues?</a>
                                    <a href="#" class="faq__link">How to verify my account?</a>
                                    <a href="#" class="faq__button faq__button_dark"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="footer__item">
                            <span class="footer__title">Buy and sell cryptocurrency on Bequant</span>
                            <a href="#" class="button button-white footer__button">Sign Up</a>
                            <a href="#" class="button button_outline_white footer__button">Sign in</a>
                        </div>
                        <div class="footer__item">
                            <span class="footer__title">Social</span>
                            <a href="#" class="footer__social"><img src="" alt="vk"></a>
                            <a href="#" class="footer__social"><img src="" alt="vk"></a>
                            <a href="#" class="footer__social"><img src="" alt="vk"></a>
                        </div>
                    </div>
                    <div class="col-md-2 offset-md-1">
                        <div class="footer__item">
                            <span class="footer__title">Company</span>
                            <ul class="footer__nav">
                                <li class="footer__nav-link">About us</li>
                                <li class="footer__nav-link">Legal</li>
                                <li class="footer__nav-link">Institutional clients</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 offset-md-1">
                        <div class="footer__item">
                            <span class="footer__title">For users</span>
                            <ul class="footer__nav">
                                <li class="footer__nav-link">Support center</li>
                                <li class="footer__nav-link">Fees and limits</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 offset-md-1">
                        <div class="footer__item">
                            <span class="footer__title">Tools</span>
                            <ul class="footer__nav">
                                <li class="footer__nav-link">API</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer__separator"></div>
                <div class="row">
                    <div class="col-md-3">
                        <img src="" alt="bequant" class="logo">
                        <span class="footer__copyright">© 2011 - 2019 bequant, Inc.</span>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="footer__link">Privacy policy</a>
                        <a href="#" class="footer__link">Terms of service</a>
                    </div>
                    <div class="col-md-3">
                        <label for="lang">Language:</label>
                        <select name="" id="lang">
                            <option>Пункт 1</option>
                            <option>Пункт 2</option>
                        </select>
                    </div>
                </div>
            </div>
        </footer>
    </main>
</body>
</html>